* {
    padding: 0;
    margin: 0;
    font-family: 'Jost', sans-serif;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    max-width: 50px;
    padding-right: 80px;
}

#top-menu ul {
    list-style: none;
    padding: 0;
    display: flex;
}

#top-menu a {
    text-decoration: none;
    color: #52A4BF;
}

#top-menu li {

    margin: 0 10px;

}


.info {
    display: flex;
    align-items: center;
}

.icones ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.icones li {
    margin: 0 10px;
}

.icones img {
    max-width: 50px;
}

.numero {
    text-align: center;
    margin: 0 10px;
    border-bottom: 1px solid #333; /* Adicione uma borda inferior */
    color: #606062;
}


.email {
    color: #606062;
    text-align: center;
    margin: 0 10px;
}
.contato {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


    

.email {
    margin-top: 10px; /* Adicione um espaçamento entre as duas divs */
}

.horario {
    background-color: #ffffff;
    color: #606062;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.visita {
    margin-bottom: 10px;
}

.dias {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.seg,
.hrs {
    flex: 1;
}

button {
    background-color: #3d9dbd;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #2a8fb1; /* Cor de fundo ao passar o cursor */
    color: #fff; /* Cor do texto ao passar o cursor */
}



.mapa {
    position: absolute;
    top: 130px;
    /* Ajuste a distância da parte superior conforme desejado */
    right: 10px;
    /* Ajuste a distância da direita conforme desejado */
    color: #606062;
    padding: 20px;
    width: 300px;
    background-color: #52A4BF;
}

iframe {
    margin-top: 30px;
    width: 100%;
    height: 150px;
}


.texto1{
    background-color: #2a8fb1;
    width: 520px;
    margin-top: 150px;
    height: 40px;
    display: flex;
    color: #ffffff;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    font-weight: bolder;
}
.texto2{
    height: 40px;
    color: #ffffff;
    background-color: #52A4BF;
    width: 520px;
    text-align: center;
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    font-weight: 500;
}

/* Estilize as divs .section e .icone como desejar */
.section {
    cursor: pointer;
}

.icone {
    display: none;
    /* Adicione estilos para a div do ícone aqui, se necessário */
}

#top-menu ul {
    list-style: none;
    padding: 0;
    display: flex;
}

#top-menu li {
    margin: 0 10px;
    position: relative;
    /* Adicione position relative para o elemento pai (li) */
}

#top-menu a {
    text-decoration: none;
    color: #52A4BF;
}

/* Adicione um traço antes do link, mas escondido por padrão */
#top-menu a::after {
    content: "";
    position: absolute;
    bottom: -3px;
    /* Ajuste a posição do traço conforme necessário */
    left: 0;
    width: 100%;
    height: 3px;
    /* Ajuste a espessura do traço conforme necessário */
    background-color: #606062;
    /* Cor do traço */
    transform: scaleX(0);
    /* Inicialmente escondido (sem largura) */
    transform-origin: 100% 50%;
    /* Origem da transformação à direita */
    transition: transform 0.3s;
    /* Adicione uma transição suave */
}

/* Quando passar o cursor, expanda o traço */
#top-menu a:hover::after {
    transform: scaleX(1);
}


.texto3 {
    opacity: 0; /* Começa invisível */
    transform: translateY(20px); /* Começa deslocado para baixo */
    transition: opacity 0.5s, transform 0.5s; /* Adiciona transição suave */
}

/* Adicione uma classe para ativar o efeito quando a página for carregada */
.ativo {
    opacity: 1; /* Torna visível */
    transform: translateY(0); /* Volta à posição original */
}

body {
    text-align: center;
}

.top, .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
    width: 250px;
    height: 250px;
    margin: 10px;
    text-align: left;
    color: #ffffff;
    background-color: #2a8fb1;
    padding: 50px;
    margin-top: 150px;
}

/*css da tabela de exames.html*/
.tabela {
    width: 60%;
    /* Define a largura da tabela */
    margin: 0 auto;
    /* Centraliza a tabela horizontalmente */
    /*Remove espaços entre as células */
    text-transform: uppercase;
    padding-bottom: 300px;
    margin-top: 300px;
}

.cor1 {
    background-color: #52A4BF;
}

.cor2 {
    background-color: #8BB6C2;
}

th,
td {
    text-align: center;
    /* Centraliza o conteúdo das células */
    padding: 10px;
    /* Adiciona espaço interno para melhorar a aparência */
    border: none;
    /* Adiciona uma borda fina ao redor das células */

}

th {
    background-color: #52A4BF;
    /* Cor de fundo para o cabeçalho da tabela */
}



/* Estilos para os cards */



.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 120px;
}

.column {
    flex-basis: calc(33.33% - 20px);
    box-sizing: border-box;
    padding: 10px;
}

.card {
    background-color: #f0f0f0;
    padding: 10px;
    margin: 0 0 20px 0;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra */
}
.card h2{
    color: #2a8fb1;
}




/* Estilos para o modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: auto;
}

.modal-content {
    background-color: #f4f4f4;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    position: relative;
}

.close {
    color: #000;
    float: right;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: red;
}




/*css dos cards dos medicos*/


/* Adicione estilos para os cards dos médicos */
.doctor-card {
    background-color: #3498db; /* Cor de fundo azul */
    color: #fff; /* Cor do texto branca */
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
   
}

.doctor-card img {
    max-width: 100px; /* Largura máxima da imagem */
    border-radius: 50%; /* Formato redondo da imagem */
}

.doctor-card h3 {
    font-size: 20px;
    margin: 10px 0;
}

.doctor-card p {
    font-size: 16px;
}


/*style para pagina convenio.html*/

.planos img {
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do contêiner */
    border: 2px solid #ccc; /* Adiciona uma borda de 2px sólida cinza ao redor da imagem */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave à imagem */
    margin: 10px; /* Adiciona um espaço de 10px ao redor da imagem */
    transition: transform 0.2s; /* Adiciona uma transição suave ao passar o mouse sobre a imagem */
}

.planos img:hover {
    transform: scale(1.05); /* Aumenta ligeiramente o tamanho da imagem ao passar o mouse sobre ela */
}

